@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #A0DBF2, #60A4BF, #568C87);
    }
    
    #login{
        width: 80vw;
    }

    #imagem{
        float: left;
        width: 40%;
        height: 100%;
        background-position: right top;
    }

    #formulario{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #A0DBF2, #60A4BF, #568C87);
    }
    
    #login{
        width: 950px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: right top;
    }

    #formulario{
        float: left;
        width: 50%;
    }

    #formulario h1{
        font-size: 2em;
    }

    #formulario p{
        font-size: 1.2em;
    }
}
